<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbchat.dao.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="com.bbchat.dao.entity.Account">
    <id column="accountId" jdbcType="VARCHAR" property="accountid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="able" jdbcType="BIT" property="able" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from account
    where accountId = #{accountid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bbchat.dao.entity.Account">
    insert into account (accountId, name, code, 
      avatar, able)
    values (#{accountid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{able,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bbchat.dao.entity.Account">
    update account
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      able = #{able,jdbcType=BIT}
    where accountId = #{accountid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select accountId, name, code, avatar, able
    from account
    where accountId = #{accountid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select accountId, name, code, avatar, able
    from account
  </select>
  <resultMap id="BaseResultMap" type="com.bbchat.dao.entity.Account">
    <id column="accountId" jdbcType="VARCHAR" property="accountid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="able" jdbcType="BIT" property="able" />
  </resultMap>

</mapper>